process {
    executor = 'awsbatch'
    queue = 'ii-nf-jobs'

    cpus = 1
    memory = 2.GB
    withLabel:process_single {
        cpus   = 1 
        memory = 4.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   = 8
        memory = 32.GB
        time   = 8.h
        disk = 100.GB
    }
    withLabel:process_high {
        cpus   = 16
        memory = 64.GB
        time   = 16.h
        disk = 100.GB
    }
}

aws.batch.platformType = 'fargate'
aws.batch.jobRole = 'arn:aws:iam::865558732044:role/ecsTaskExecutionRole'
aws.batch.executionRole = 'arn:aws:iam::865558732044:role/ecsTaskExecutionRole'

wave.enabled = true
