/*
    * -------------------------------------------------
    *  nfcore/rnaseq custom profile Nextflow config file
    * -------------------------------------------------
    * Config options for custom environments.
    * Cluster-specific config options should be saved
    * in the conf/pipeline/rnaseq folder and imported
    * under a profile name here.
    */

profiles {
}

process {
    withName: RSEM_CALCULATEEXPRESSION {
        ext.args = '--estimate-rspd --append-names'
    }
}
