/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/sarek Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

  withName: 'UNZIP.*|UNTAR.*|TABIX.*|BUILD_INTERVALS|CREATE_INTERVALS_BED|VCFTOOLS|BCFTOOLS.*|SAMTOOLS_INDEX' {
  }
  withName: FASTQC {
  }
  withName: FASTP {
  }
  withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
  }
  withName: CNVKIT_BATCH {
  }
  withName: 'GATK4_MARKDUPLICATES|GATK4SPARK_MARKDUPLICATES' {
  }
  withName: 'GATK4_APPLYBQSR|GATK4SPARK_APPLYBQSR|GATK4_BASERECALIBRATOR|GATK4SPARK_BASERECALIBRATOR|GATK4_GATHERBQSRREPORTS' {
  }
  withName: MOSDEPTH {
  }
  withName: 'STRELKA.*|MANTA.*' {
  }
  withName: SAMTOOLS_CONVERT {
  }
  withName: GATK4_MERGEVCFS {
  }
  withName: MULTIQC {
  }
}
